<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="skeleton.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Vue.js App</title>
  </head>

  <body>
    <!-- component template -->
    <script type="text/x-template" id="grid-template">
      <table class="u-full-width">
        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns" v-if="key === 'title'">
              <a :href="entry.movieId">{{entry[key]}}</a>
            </td>
            <td v-else>
              {{entry[key]}}
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <!-- demo root element -->
    <div id="app" class="container">
      <div id="demo">
        <form id="search">
          Search <input name="query" v-model="searchQuery">
        </form>
        <demo-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery">
        </demo-grid>
      </div>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="app.js"></script>
  </body>
</html>
